<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv=Content-Type content=“text/html;>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>虚贝spa项目</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
